<ion-header no-border>
  <ion-navbar color="white2" text-center>
    <ion-buttons left color="green1">
      <button class="buttonNavbar">
      </button>   
    </ion-buttons>
    <ion-title mode="ios">  <img src="assets/imgs/logologo1.png" alt="" class="header-pic"> </ion-title>
    <ion-buttons right>
      <button class="buttonNavbar" (click)="goProfileUser('')">
        <img src="{{user.profilePicture}}" alt="" class="circle-pic">
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen >
        <ion-card *ngFor="let publication of publications; let i = index">
            <ion-item (click)="goProfileUser(publication.userId)">
                <ion-avatar item-start>
                  <img class="user-avatar" src="{{publication.userPhoto}}">
                </ion-avatar>
              <ion-label class="username">{{publication.username}}</ion-label>
            </ion-item>
            <div>
              

 <!-- nuevo codigo para slider -->
<ion-slides pager >

  <ion-slide style="background-color: white">
    <!-- <h2>Slide 1</h2> -->
    <button  class = "btn-publication-image" (click)="goTopublication(publication)">
                <img src="{{publication.photo}}" class="img-publication">
    </button>
  </ion-slide>

  <ion-slide style="background-color: white">
    <h2>Slide 2</h2>
  </ion-slide>

  <ion-slide style="background-color: white">
    <h2>Slide 3</h2>
  </ion-slide>

</ion-slides>
 <!-- fin de nuevo codigo para slider -->
            </div>          
            <ion-card-content>
                 <ion-label class="precio">$ 99.999</ion-label>
                 <ion-label class="description">{{publication.name}}</ion-label>
            </ion-card-content>         
            <ion-row class="row-operations">
              <ion-col col-1>
              
                <ion-icon *ngIf="!publication.liked" (click)="like(i)" class="btn-operation custom-icon" name="ios-heart-outline" alt=""></ion-icon>
                 <ion-icon *ngIf="publication.liked" (click)="unlike(i)" class="btn-operation custom-icon" name="ios-heart" alt=""></ion-icon>
              </ion-col>
              <ion-col col-1>
                
                <ion-icon *ngIf="!publication.favorited" (click)="addFavorite(i)" class="btn-operation custom-icon-card" name="ios-cart-outline" alt=""></ion-icon>
                <ion-icon *ngIf="publication.favorited" (click)="deleteFavorite(i)" class="btn-operation custom-icon-card" name="ios-cart" alt=""></ion-icon>
              </ion-col>
              <ion-col col-1>
                
                <ion-icon (click)="openMenuShare(publication.name, publication.photo)" class="btn-operation" name="share-alt"></ion-icon>
              </ion-col>
            </ion-row>                      
        </ion-card>

</ion-content>
