<ion-header no-border>
  <ion-navbar color="white2" text-center>
    <ion-buttons left color="green1">
      <button class="buttonNavbar">
      </button>   
    </ion-buttons>
    <ion-title mode="ios">  <img src="assets/imgs/header_home.png" alt="" class="header-pic"> </ion-title>
    <ion-buttons right>
      <button class="buttonNavbar" (click)="goProfileUser('')">
        <img src="{{user.profilePicture}}" alt="" class="circle-pic">
      </button> 
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content fullscreen >
        <ion-card *ngFor="let cause of causes; let i = index">
            <ion-item (click)="goProfileUser(cause.userId)">
                <ion-avatar item-start>
                  <img class="user-avatar" src="{{cause.userPhoto}}">
                </ion-avatar>
              <ion-label class="username">{{cause.username}}</ion-label>
            </ion-item>
            <div>
              <button  class = "btn-cause-image" (click)="goToCause(cause)">
                <img src="{{cause.photo}}" class="img-cause">
              </button>
            </div>          
            <ion-card-content>
                <ion-label class="description">{{cause.name}}</ion-label>
            </ion-card-content>         
            <ion-row class="row-operations">
              <ion-col col-1>
                <img *ngIf="cause.liked" (click)="unlike(i)" class="btn-operation" src="assets/imgs/like-action2.png" alt="">
                <img *ngIf="!cause.liked" (click)="like(i)" class="btn-operation" src="assets/imgs/button_icon_black.png" alt="">
              </ion-col>
              <ion-col col-1>
                <img *ngIf="!cause.favorited" (click)="addFavorite(i)" class="btn-operation" src="assets/imgs/favorite.png">
                <img *ngIf="cause.favorited" (click)="deleteFavorite(i)" class="btn-operation" src="assets/imgs/favorite-action.png">
              </ion-col>
              <ion-col col-1>
                <img (click)="openMenuShare(cause.name, cause.photo)" class="btn-operation" src="assets/imgs/share.png">
              </ion-col>
            </ion-row>                      
        </ion-card>

</ion-content>
