<ion-header>
  <ion-navbar>
    <ion-title text-center>publication</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div text-center>
    <img class="image image-publication" [src]="photo" alt="">
  </div> 
       
  <form [formGroup]="publicationForm">
    <ion-list>
      <ion-item class="text-inputs">
        <ion-label floating>Name</ion-label>
        <ion-input type="text" formControlName="name"  maxlength=40></ion-input>
      </ion-item>
      <p *ngIf="!publicationForm.controls.name.valid && (publicationForm.controls.name.dirty || submitAttempt)" text-color="white">{{'VALIDATE_NAME' | translate }}
      </p>  
      <ion-item class="text-inputs">
        <ion-label floating>Description</ion-label>
        <ion-textarea formControlName="description" maxlength=200 ></ion-textarea>
      </ion-item>
      <p *ngIf="!publicationForm.controls.description.valid && (publicationForm.controls.description.dirty || submitAttempt)" text-color="white">{{'VALIDATE_NAME' | translate }}
      </p>
      <ion-item *ngIf="publication.photo" class="text-inputs">
        <ion-label floating>Username</ion-label>
        <ion-input type="text" (click)="goProfileUser()" formControlName="username"></ion-input>
      </ion-item> 
      <ion-item class="text-inputs">
        <ion-label floating>Location</ion-label>
        <ion-input type="text" formControlName="location" maxlength=100></ion-input>
      </ion-item>
      <ion-item class="text-inputs">
        <ion-label floating>Price</ion-label>
        <ion-input type="number" formControlName="price" maxlength=100></ion-input>
      </ion-item>
      <ion-item class="text-inputs">
        <ion-label floating>Contact</ion-label>
        <ion-input type="text"  formControlName="contact" maxlength=50></ion-input>
      </ion-item>
      <ion-item *ngIf="publication.photo" class="text-inputs">
        <ion-label floating>Creation date</ion-label>
        <ion-input type="text"  formControlName="creationDate"></ion-input>
      </ion-item>
      <br>
    </ion-list>  
    </form>
    <div *ngIf="!publication.photo">
      <ion-grid>
        <ion-row>
          <ion-col col-6 text-center>
            <button ion-button round outline class="btn-operation" color="green1" (click)="cancelar()">Cancelar</button>
          </ion-col>
          <ion-col col-6 text-center>
            <button ion-button round outline class="btn-operation" color="green1" (click)="savepublication()">Create</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div ng-else>
      <div text-center>
        <button text-center  *ngIf="publication.photo" class="btn-operation" outline ion-button round color="green1" (click)="goBack()">Volver</button>
      </div>
    </div>
</ion-content>
