page-explore {
    .scroll-content  {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .card-md{
        margin: 0;
        width: 100%;
    }

    ion-content {
        background-image: url('../assets/imgs/fondo.png');
    }
}
